body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    text-shadow: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
    border-radius: 0; /* Sin redondeo */
    transition: all 0.3s ease; /* Transiciones suaves */
}